{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Reshma's Page</title>
    <link rel="stylesheet" href="{% static 'personal_page/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Welcome To Reshma's Page</h1>
        <h2>Skills</h2>
        <div class="skills-section">
            <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" class="skill">HTML</a>
            <a href="https://developer.mozilla.org/en-US/docs/Web/CSS" class="skill">CSS</a>
            <a href="https://www.shellscript.sh/" class="skill">Shell Scripting</a>
            <a href="https://www.linux.org/pages/whatislinux/" class="skill">Linux</a>
            <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" class="skill">JavaScript</a>
            <a href="https://www.w3schools.com/sql/" class="skill">SQL</a>
            <a href="https://www.python.org/doc/" class="skill">Python</a>
            <a href="https://nodejs.org/en/docs/" class="skill">Node.js</a>
            <a href="https://docs.docker.com/" class="skill">Docker</a>
        </div>
    </div>
</body>
</html>
